body {
  background-color: whitesmoke;
}
.container {
  display: grid;
  gap: 20px;
  justify-content: center;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  align-items: center;
  width: 1000px;
  border-radius: 10px;
  background-color: white;
}
.my-profile {
  margin: 5px;
  padding: 5px;
}

.pfp img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 1px solid black;
  border-radius: 50%;
}

.my-profile {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
}

.about-me p {
  color: rgb(177, 107, 107);
  line-height: 1.5;
  font-weight: bold;
}

.about-me p:hover {
  color: yellow;
  font-size: 20px;
}

.side-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 1000px;
}

.hobbies {
  display: inline-block;
  border-radius: 10px;
  background-color: white;
  margin: 3px;
  padding: 3px;
}

.aspirations {
  display: inline-block;
  border-radius: 10px;
  background-color: white;
  margin: 2px;
  padding: 2px;
}

.hobbies .hobby {
  color: red;
  display: inline-block;
  font-weight: bolder;
  border-bottom: 2px solid red;
}

.hobbies p {
  color: rgb(8, 36, 216);
}

.aspirations .aspire-box {
  color: blue;
  display: inline-block;
  font-weight: bold;
  border-bottom: 2px solid blue;
}

.aspirations p {
  color: salmon;
}

.title {
  display: inline-block;
  color: #33c017;
  border-bottom: 2px solid #33c017;
  font-weight: bold;
}
.title:hover {
  color: #1e644d;
  border-bottom: 2px solid 1e644d;
  font-size: 30px;
}

.main-container,
.side-content {
  width: 100%;
  max-width: 1000px;
}

@media (min-width: 768px) {
  .side-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
